body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

/*Jugadores*/

.jugador {
    position: absolute;
    width: 220px;
    height: 60px;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fafafa;
    font: bold 100% monospace;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.jugador1 {
    top: 10%;
    left: 10%;
    background-color: #ff6b6b;
}

.jugador2 {
    top: 10%;
    right: 10%;
    background-color: #4d79ff;
}

.jugador3 {
    bottom: 10%;
    left: 10%;
    background-color: #1dd1a1;
}

.jugador4 {
    bottom: 10%;
    right: 10%;
    background-color: #ffaf40;
}


/*Lista de Partidas*/

#partidasContainer {
    margin: 2rem auto;
    padding: 2rem;
    width: 90%;
    height: 85%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#partidasContainer h2 {
    font-size: 1.5rem;
    text-align: center;
}

#partidasList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 80vh;
    overflow-y: auto;
}

#partidasList li {
    background-color: #e0e0e0;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.3s;
}

#partidasList li:hover {
    background-color: #d4dae4;
}

#partidasList li strong {
    font-size: 1.2rem;
}

#partidasList li span {
    font-size: 0.8rem;
}

#searchContainer {
    display: flex;
    margin-top: 3%;
    margin-bottom: 1rem;
}

#busquedaPartida {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

#buscarPartida {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    background-color: #ccc;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#buscarPartida:hover {
    background-color: #4499f4;
}


/*Dado*/

#dado {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px 10px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 1s;
}
.caradado {
    position: absolute;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    background-color: #fafafa;
    border: 2px solid #cccccc;
    box-shadow: inset 0 0 0 10px #0000001a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font: bold 100% monospace;
    font-size: 2em;
}

.caradado1 { background-color: #ff6b6b; transform: rotateY(0deg) translateZ(50px); }
.caradado2 { background-color: #4d79ff; transform: rotateY(90deg) translateZ(50px); }
.caradado3 { background-color: #1dd1a1; transform: rotateY(180deg) translateZ(50px); }
.caradado4 { background-color: #ffaf40; transform: rotateY(-90deg) translateZ(50px); }
.caradado5 { background-color: #ccc; transform: rotateX(90deg) translateZ(50px); }
.caradado6 { transform: rotateX(-90deg) translateZ(50px); }

#tirardado {
    position: relative;
    padding: 35px 20px;
    margin: auto 0;
    font-size: 1em;
    color: #333;
    background-color: #fafafa;
    border: 2px solid #cccccc;
    border-radius: 8px;
    font: bold 100% monospace;
    font-size: 1.5em;
}

/*Tablero*/

#tablero {
    position: relative;
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(19, 1fr);
    width: 600px;
    height: 600px;
    background-color: #fafafa;
    border: 5px solid #cccccc;
    margin: 0 auto;
}

.celda {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.casillaTexto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
    color: #bbbbbb;
}

.casa.rojo { background-color: #ffcccc; }
.casa.azul { background-color: #ccccff; }
.casa.amarillo { background-color: #ffffcc; }
.casa.verde { background-color: #ccffcc; }

.casilla { background-color: #ffffff; }

.seguro { background-color: #fff1e0; }

.pasillo.projo { background-color: #ffcccc; }
.pasillo.pazul { background-color: #ccccff; }
.pasillo.pamarillo { background-color: #ffffcc; }
.pasillo.pverde { background-color: #ccffcc; }

.centro { background-color: #fef1fa; }

.pieza {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 10px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f0f0f0;
    background-color: #bbbbbb;
    border-radius: 50%;
    border: 2px solid #bbbbbb;
    overflow: hidden;
    transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
}

.pieza .color {
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: square(50% at 50% 0%);
    background-color: #f0f0f0;
}

.pieza .color:nth-child(1) {
    top: 50%;
}

.pieza .color:nth-child(2) {
    top: -50%;
}

/*Menu*/

*{margin: 0;padding:0;}
.menu {
    background-color: #333;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.menu ul li {
    display: inline-block;
    margin-right: 20px;
}
.menu ul li:last-child {
    margin-right: 0;
}
.menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 4px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.menu ul li a:hover {
    transform: translateY(3px);
    background-color: #555;
}