body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

/*Inicio de Sesion*/

.welcome-container {
    text-align: center;
    margin: 2rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.welcome-container h1 {
    color: #333;
    margin-right: 10px;
    margin-bottom: 10px;
}

.welcome-container p {
    color: #666;
    margin-right: 10px;
    margin-bottom: 20px;
}

.welcome-container label {
    display: block;
    margin-right: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.welcome-container input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.welcome-container button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background: #4499f4;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.welcome-container button:hover {
    background: #3d86d4;
}

/*Menu de Juego*/

.menujuego {
    width: 90%;
    max-width: 1000px;
    background-color: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 0;
    margin: 0 auto;
    margin-bottom: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 999;
}

.jugadores {
    display: flex;
    gap: 10px;
}

.circuloJugador {
    width: 30px;
    height: 30px;
    background-color: #4499f4;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1999;
}

.circuloJugador::after {
    content: attr(title);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    font-size: 12px;
}

.circuloJugador:hover::after {
    opacity: 1;
}

.mjitem {
    margin: 0 20px;
}

.btnsalir{
    margin-left: auto;
    font-family: monospace;
    padding: 10px 15px;
    background: #d9534f;
    color: #fff;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}

/*Jugadores*/

.jugador {
    position: absolute;
    width: 220px;
    height: 60px;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fafafa;
    font: bold 100% monospace;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.jugador1 {
    top: 10%;
    left: 10%;
    background-color: #ff6b6b;
}

.jugador2 {
    top: 10%;
    right: 10%;
    background-color: #4d79ff;
}

.jugador3 {
    bottom: 10%;
    left: 10%;
    background-color: #1dd1a1;
}

.jugador4 {
    bottom: 10%;
    right: 10%;
    background-color: #ffaf40;
}


/*Lista de Partidas*/

#partidasContainer {
    margin: 2rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#partidasContainer h2 {
    font-size: 1.5rem;
    text-align: center;
}

#partidasList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

#partidasList li {
    background-color: #e0e0e0;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.3s;
}

#partidasList li:hover {
    background-color: #d4dae4;
}

#partidasList li strong {
    font-size: 1.2rem;
}

.partida-item {
    margin: 10px 0;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.partida-item button{
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    background-color: #ccc;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.partida-item button:hover{
    background-color: #4499f4;
}

.detalles-partida {
    width: 90%;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background: #fafafa;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#searchContainer {
    display: flex;
    margin-top: 3%;
    margin-bottom: 1rem;
}

#busquedaPartida {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

#buscarPartida {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    background-color: #ccc;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#buscarPartida:hover {
    background-color: #4499f4;
}

#numeroJugadores{
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}
#agregarPartida{
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: #ccc;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#agregarPartida:hover{
    background-color: #4499f4;
}

/*Ranking*/

#rankingContainer {
    margin: 2rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#rankingTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#rankingTable th, #rankingTable td {
    padding: 10px;
    border: 1px solid #ddd;
}

#rankingTable th {
    background-color: #333;
    color: white;
}

#rankingTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/*Reglas*/

#reglasContainer {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    width: 90%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#reglasContainer h1 {
    text-align: center;
    color: #333;
}

#reglasContainer h2 {
    color: #333;
}

#reglasContainer p {
    color: #555;
}

#reglasContainer ul {
    list-style-type: disc;
    margin: 10px 0 10px 20px;
    color: #555;
}

#reglasContainer ol {
    list-style-type: decimal;
    margin: 10px 0 10px 20px;
    color: #555;
}

/*Dado*/

#dado {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px 10px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 1s;
}
.caradado {
    position: absolute;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    background-color: #fafafa;
    border: 2px solid #cccccc;
    box-shadow: inset 0 0 0 10px #0000001a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font: bold 100% monospace;
    font-size: 2em;
}

.caradado1 { background-color: #ff6b6b; transform: rotateY(0deg) translateZ(50px); }
.caradado2 { background-color: #4d79ff; transform: rotateY(90deg) translateZ(50px); }
.caradado3 { background-color: #1dd1a1; transform: rotateY(180deg) translateZ(50px); }
.caradado4 { background-color: #ffaf40; transform: rotateY(-90deg) translateZ(50px); }
.caradado5 { background-color: #ccc; transform: rotateX(90deg) translateZ(50px); }
.caradado6 { transform: rotateX(-90deg) translateZ(50px); }

#tirardado {
    position: relative;
    padding: 35px 20px;
    margin: auto 0;
    font-size: 1em;
    color: #333;
    background-color: #fafafa;
    border: 2px solid #cccccc;
    border-radius: 8px;
    font: bold 100% monospace;
    font-size: 1.5em;
}

/*Tablero*/

#tablero {
    position: relative;
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(19, 1fr);
    width: 600px;
    height: 600px;
    background-color: #fafafa;
    border: 5px solid #cccccc;
    margin: 0 auto;
}

.celda {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.casillaTexto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
    color: #bbbbbb;
}

.casa.rojo { background-color: #ffcccc; }
.casa.azul { background-color: #ccccff; }
.casa.amarillo { background-color: #ffffcc; }
.casa.verde { background-color: #ccffcc; }

.casilla { background-color: #ffffff; }

.seguro { background-color: #fff1e0; }

.pasillo.projo { background-color: #ffcccc; }
.pasillo.pazul { background-color: #ccccff; }
.pasillo.pamarillo { background-color: #ffffcc; }
.pasillo.pverde { background-color: #ccffcc; }

.centro { background-color: #fef1fa; }

.pieza {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 10px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f0f0f0;
    background-color: #bbbbbb;
    border-radius: 50%;
    border: 1px solid #666;
    overflow: hidden;
    transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
}

.pieza .color {
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: square(50% at 50% 0%);
    background-color: #f0f0f0;
}

.pieza .color:nth-child(1) {
    top: 50%;
}

.pieza .color:nth-child(2) {
    top: -50%;
}

/*Menu*/

*{margin: 0;padding:0;}
.menu {
    background-color: #333;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.menu ul li {
    display: inline-block;
    margin-right: 20px;
}
.menu ul li:last-child {
    margin-right: 0;
}
.menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 4px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.menu ul li a:hover {
    transform: translateY(3px);
    background-color: #555;
}

.menu ul li input {
    color: #333;
    padding: 5px 10px;
    display: block;
    border-radius: 4px;
    background-color: #ccc;
}